<!DOCTYPE html>
<html lang="en">
<head>
<title>Admin Page </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}


/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
</style>
</head>
<body>

<div class="header">
</div>

<div class="navbar">
  <a href="#" class="active">Home</a>
  <a href="#">Help</a>
  <a href="#" class="right">Log out</a>
</div>

<div class="row">

  <div class="main">
    Templates: <select name="template" id="template">
	<option value="">-- select a template --</option>
	<option value="1-1-simple-example.rive">1-1-simple-example.rive</option>
	<option value="1-2-comments.rive">1-2-comments.rive</option>
	<option value="1-3-replies.rive">1-3-replies.rive</option>
	<option value="1-4-weight.rive">1-4-weight.rive</option>
	<option value="2-1-wildcards.rive">2-1-wildcards.rive</option>
	<option value="2-2-alternations.rive">2-2-alternations.rive</option>
	<option value="2-3-optionals.rive">2-3-optionals.rive</option>
	<option value="2-4-google1.rive">2-4-google1.rive</option>
	<option value="2-5-google2.rive">2-5-google2.rive</option>
	<option value="rs-standard.rive">rs-standard.rive</option>
	<option value="testsuite.rive">testsuite.rive</option>
</select>

<button class="btn_test">Test</button>
<button class="btn_update">Update</button>
<button class="btn_delete">Delete</button>
<button class="btn_add">Add</button>
<button class="btn_other">Other</button>    
</div>


</body>
</html>
