<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin page</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
</head>

<body><div class="container">
	<div class="row">
		<div class="col-md-12">

<link rel="stylesheet" type="text/css" href="assets/css/tryonline.css">
<h1>Admin page</h1>


<div class="pull-right">
	<button type="button" id="test" class="btn btn-primary">
		<i class="fa fa-play"></i>
		Test
	</button><button type="button" id="edit" class="btn btn-primary">
		<i class="fa fa-play"></i>
		Edit
	</button>
	<button type="button" id="new" class="btn btn-primary">
		<i class="fa fa-play"></i>
		New
	</button>
	
	<button type="button" id="delete" class="btn btn-primary">
		<i class="fa fa-play"></i>
		Delete
	</button>
</div>

Brain: <select name="brain" id="brain">
	<option value="">-- select a brain --</option>
	<option value="1-1-simple-example.rive">1-1-simple-example.rive</option>
	<option value="1-2-comments.rive">1-2-comments.rive</option>
	<option value="1-3-replies.rive">1-3-replies.rive</option>
	<option value="1-4-weight.rive">1-4-weight.rive</option>
	<option value="2-1-wildcards.rive">2-1-wildcards.rive</option>
	<option value="2-2-alternations.rive">2-2-alternations.rive</option>
	<option value="2-3-optionals.rive">2-3-optionals.rive</option>
	<option value="2-4-google1.rive">2-4-google1.rive</option>
	<option value="2-5-google2.rive">2-5-google2.rive</option>
	<option value="rs-standard.rive">rs-standard.rive</option>
	<option value="testsuite.rive">testsuite.rive</option>
</select>

<hr>

<textarea class="form-control" cols="80" rows="20" id="editor"></textarea>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" href="index.html">Home</button>
				<button type="button" id="save" class="btn btn-primary">
					<i class="fa fa-play"></i>
					Save
				</button>
				<button type="button" id="exit" class="btn btn-primary">
					<i class="fa fa-play"></i>
					Exit
				</button>
			</div>
		</div>
	</div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/js/hash-scroll.js"></script>
<script type="text/javascript" src="https://unpkg.com/rivescript@latest/dist/rivescript.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/rivescript-contrib-coffeescript@latest/dist/rivescript-contrib-coffeescript.min.js"></script>
<script type="text/javascript" src="assets/js/tryonline.js"></script>


</div></div></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/creative.js"></script>
</body>

</html>