<!DOCTYPE html>
<html>
<head>
<!-- Metas -->
<meta charset="utf-8">
<title>Formulaire</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Css -->
<link rel='stylesheet' href='chatbox.css' />
</head>

<body>
	<div class="modal-dialog center">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="chatModalLabel">Dialogue</h4>
			</div>
			<div class="modal-body">
				<div class="try-dialogue" id="dialogue"></div>

				<fieldset>
					<legend>Send a Message</legend>
					<input type="text" class="form-control" id="message" placeholder="Press Enter to send">
				</fieldset>
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
			</div>
		</div>
	</div>
</body>
</html>