<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
</head>

<body id="page-top"><nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Viaggio</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
        <div
            class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link js-scroll-trigger" href="#help">Help</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link js-scroll-trigger" href="login.html">Login</a></li>
            </ul>
    </div>
    </div>
</nav>
    <header class="masthead text-center text-white d-flex" style="background-image:url('assets/img/header.jpg');">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong>Your Favorite web site for free services</strong></h1>
                    <hr>
                </div>
            </div><div class="col-lg-8 mx-auto">
    <div></div><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#services">Check services</a></div></div>
    </header><section id="about" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col offset-lg-8 mx-auto text-center">
                <h2 class="text-white section-heading">Do you have a question? No worries! just ask our robot named Steve!!</h2>
                <hr class="light my-4" />
                <p class="text-faded mb-4"><a class="btn btn-light btn-xl js-scroll-trigger"
                    role="button" href="chat.html">Get Started!</a></div>
        </div>
    </div>
</section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container"><div class="row">
    <div class="col-md-6 col-lg-3 text-center">
        <div class="mx-auto service-box mt-5"><i class="fa fa-bicycle fa-4x text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3"><a href ="#">Find a bicycle</a></h3>
    </div> </div>
    <div class="col-md-6 col-lg-3 text-center">
        <div class="mx-auto service-box mt-5"><i class="fa fa-car fa-4x text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3"><a href ="#">Carpooling</a></h3>
    </div> </div>
    <div class="col-md-6 col-lg-3 text-center">
        <div class="mx-auto service-box mt-5"><i class="fa fa-train fa-4x text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3"><a href ="#">Take a trainp</a></h3>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 text-center">
        <div class="mx-auto service-box mt-5"><i class="fa fa-plane fa-4x text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3"><a href ="#">Book a trip</a></h3>
        </div>
    </div>
</div></div>
    </section><section id="portfolio" class="p-0"></section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/creative.js"></script>
</body>

</html>