<!DOCTYPE html>
<html>

<head>
	<!-- Metas -->
	<meta charset="utf-8">
	<title>Login</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Css -->
	<link rel='stylesheet' href='css/css.css' />


</head>

<body>

	<div class="sectionTitle paddingBottom">
		<span class="heading-t3"></span>
		<h2>Login</h2>
		<span class="heading-b3"></span>
	</div>
	<!-- end sectionTtile -->

	<div class="container_info">

		<form method="post">
			<div class="row">
				<div class="pad-left pad-right">
					<label for="fname" class="pad-right-sm"> Username</label>
					<input class="medium" type="text" name="username" value="">
				</div>
			</div>
			<div class="row">
				<div> <label for="lname" class="pad-left pad-right-sm"> Password</label>
					<input class="medium" type="password" name="password" value="">
				</div>
			</div>
			<div class="row">
				<div class="margin-top">
					<span class="pad-left">
						<input type="submit" value="LOG IN" style="width: 83px;">
					</span>
				</div>
			</div>

		</form>

	</div>
</body>

</html>