<!DOCTYPE html>
<html>
<head>
<!-- Metas -->
<meta charset="utf-8">
<title>Formulaire</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Css -->
<link rel='stylesheet' href='css.css' />
</head>

<body>
	<div class="sectionTitle paddingBottom">
		<span class="heading-t3"></span>
		<a href="/" style="text-decoration: none;"><h2>List of people</h2></a>
		<span class="heading-b3"></span>
	</div>
	<!-- end sectionTtile -->

	<div class="container_info">

		<ul>
            <% data.forEach(function(User) { %>
				<li>
					<%= User.username%> <%= User.password%> 
				</li>
			<% }); %>
        </ul>

	</div>
</body>
</html>
