body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    height: 100%;
}

ul {
    list-style-type: none;
}

.username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

.bot{
    display: inline-block;
    width: 50px;
}
.dots{
    display: inline-block;
    width: 20px;
}
.circle{
    display: inline-block;
    width: 20px;
}
.run{
    display: inline-block;
    width: 200px;
}
.stop{
    display: inline-block;
    width: 40px;
}

fieldset{
    display: table;
}
fieldset p {
    display: table-row;
}

fieldset label {
    text-align: left;
    display: table-cell;
}

fieldset select{
    text-align: right;
    display: table-cell;
}


.modal-dialog {
    position: relative;
    width: 95%;
    margin: 10px;
    text-align: justify;
}

.control-group {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.create {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box; 
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    margin-bottom: 35px;
    margin-right: 10%;
    display: table-cell;
    width: 180px;
}

.remove {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box; 
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    margin-bottom: 35px;
    margin-right: 10%;
    display: table-cell;
    width: 180px;
}

.status {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box; 
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    margin-bottom: 35px;
    display: table-cell;
    width: 180px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box; 
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
        margin-top: 0px;
    font: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
    color: inherit;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.h4, h4 {
    font-size: 18px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}


.modal-body {
    position: relative;
    padding: 15px;
}

.messages {
    height: 150px;
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

.try-user {
    color: #FF0000;
    font-weight: bold;
}

.try-bot {
    color: #0000FF;
    font-weight: bold;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    border-bottom: 1px solid #e5e5e5;
}
legend {
    padding: 0;
    border: 0;
}

::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-control::placeholder {
    color: #999;
    opacity: 1;
}

.form-control {
    display: block;
    width: 98%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lauchControls{
    display: inline-block;
    position: relative;
    left: 20%;
    right: 10%;
}

.delete{
    display: inline-block;
    position: relative;
    left: 10%;
    right: 10%;
    margin-top: 9%;
}

.centeralign{
    text-align: center;
    align-items: center
}

.btn-group{
    display: block ruby;
}
